.button-solid{
    height: 60px;
    border-radius: 30px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;

    color: #2E2E2E;

    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 60px;
    border: none;

    cursor: pointer;
    transition: .3s;  
    
    &:hover{
        background-color: black;
        color:#fff;
    }
    
    &:focus{
        outline:none;
        background-color: #2f2f2f;
        color:#fff;    
    }
    

}