.package {
    display: flex;
    flex-direction: column;
    // width: 300px;
    
    border-radius: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    background: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;

    &--special{
        background-color: rgba(48, 79, 254, 0.95);

        & .package__title{
            color: #fff;
        }

        & .package__period
        {
            background: rgba(0, 0, 0, 0.10)
        };



    }
 
}
.package__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}
.package__title {
    color: #B2B2B2;
    font-size: 16px;
    font-weight: 700;
    line-height: 1; 
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.package__price {
    font-size: 80px;
    font-weight: 700;
    line-height: 1; /* 80px */
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.package__period {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px; /* 12px */
    letter-spacing: 4px;
    text-transform: uppercase;

    border-radius: 30px;
    background: rgba(255, 255, 255, 0.10);
    height: 24px;
    padding-left: 15px;
    padding-right: 15px;
  
}
.package__list {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 58px;
    line-height: 1;
}
.package__list-item:not(:last-child) {margin-bottom: 25px;}

.package__button{
    margin-bottom: auto;
}

