.title {
    color: $accentText;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.title--white{
    color: #fff;

  
    /*Mobile*/
    @media (max-width: 899px) {
        font-size: 14px;
    }


}