.section-focus {
    padding-top: 80px;
    padding-bottom: 40px;
    overflow-x: hidden;


    /*Tablet Media */
    @media (max-width: 1199px) {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        padding-top: 50px;
        padding-bottom: 0;
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-focus__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /*Mobile*/
    @media (max-width: 899px) {
        flex-direction: row-reverse;
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        flex-direction: column;
    }
}

.section-focus__row > * {
    flex-shrink: 0;
}

.section-focus__content {
    width: 470px;
    padding-top: 28px;

    /*Tablet Media */
    @media (max-width: 1199px) {
        width: 420px;
        padding-top: 20px;
    }
 
    /*Mobile*/
    @media (max-width: 899px) {
        width: 100%;
        padding-top: 0;
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        text-align: center;
    }
}
.section-focus__header {
    margin-bottom: 30px;

    /*Tablet Media */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
}
.section-focus__title {
    color: #15D784;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;

    /*Tablet Media */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        margin-bottom: 10px;
    }
}
.section-focus__subtitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;

    /*Tablet Media */
    @media (max-width: 1199px) {
        font-size: 38px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        font-size: 30px;
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        font-size: 26px;
    }

}
.section-focus__text {
    width: 400px;

    color: $paragraphColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.14; /* 214.286% */

    p:not(:last-child){
        margin-bottom: 15px;
    }

    /*Tablet Media */
    @media (max-width: 1199px) {
        width: unset;
        max-width: 420px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        line-height: 1.7;
    }
}


.section-focus__img{
    /*Tablet Media */
    @media (max-width: 1199px) {
        width: 420px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        width: 170px;
        img{
            width: 415px;
            height: auto;
            max-width: unset;
        }
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        width: 100%;
        margin-bottom: 10px;
        img{
            max-width: 100%;
        }

    }
}