.section-price {
    position: relative;
    padding-top: 90px;
    padding-bottom: 100px;


    @include bgImage("./../img/background/price-bg.jpg");

    &::before{
        @extend %overlay;
    }

    /*Desktop*/
    @media (max-width: 1600px) {
        @include bgImage("./../img/background/price-bg-1600.jpg");
    }

    /*Tablet Media */
    @media (max-width: 1199px) {
        @include bgImage("./../img/background/price-bg-900.jpg");
        padding-top: 50px;
        padding-bottom: 50px;

    }

    /*Mobile*/
    @media (max-width: 899px) {
        @include bgImage("./../img/background/price-bg-600.jpg");
        padding-bottom: 40px;
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        @include bgImage("./../img/background/price-bg-320.jpg");
        padding-top: 40px;
    }
}
.section-price__content {
    position: relative;
    z-index: 9;
}
.section-price__header {
    text-align: center;
    margin-bottom: 80px;

    /*Tablet Media */
    @media (max-width: 1199px) {
        margin-bottom: 50px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        margin-bottom: 40px;
    }

}
.section-price__title {
    margin-bottom: 40px;

    /*Tablet Media */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        margin-bottom: 10px;
    }
}


.section-price__row{
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    align-items: flex-start;
    
    /*Mobile*/
    @media (max-width: 899px) {
        flex-direction: column;
        margin-top: -30px;
        align-items: center;
    }

}

.section-price__row > * {
    margin-left: 15px;
    margin-right: 15px;
    width: 300px;

    /*Tablet Media */
    @media (max-width: 1199px) {
        width: 270px;
    }

    /*Mobile*/
    @media (max-width: 899px) {
        margin-top: 30px;
        width: 300px;
    }

    /*Mobile XS*/
    @media (max-width: 599px) {
        width: 290px;
    }
}